<!doctype html>
<html lang="ja">
<head>
    <title>クローリング結果</title>
</head>
<body>
    <div>
        {{ contents }}
    </div>
    <div>
        <a href="/testform/index">トップページに戻る</a>
    </div>
</body>
</html>